body {
    background-image: url("love-bg.jpg");
}


.special {
    font-family: 'Sofia';
    font-size: 30px;
}

.one {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 20px;
    margin-left: 75px;
    padding: 20px;
    background-color: red;
    color: white;
}

.two {
    font-family: 'Times New Roman', Times, serif;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 75px;
    padding-right: 75px;
    text-align: right;
    letter-spacing: 3px;
    background-color: white;
    border: 8px dashed ;
    border-color: red;
    color: red;
}

.three {
    padding-top: 50px;
    text-align: center;
    text-shadow: 5px;
    text-shadow: 5px;
    text-shadow: 10px;
    text-shadow: white;
    width: 626px;
    height: 300px;
    border-radius: 20px;
    margin: auto;
    background-image: url("bg-love.jpg");
}

.love {
    font-family: "Rochester";
    font-size: 75px;
    color: red;
}
